<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="styles_info.css">
</head>
<body>
    <div class="header">
        <h1>Furry Mate</h1>
        <ul class="nav-links">
            <li><a href="/vision">Visión</a></li>
            <li><a href="/mission">Misión</a></li>
            <li><a href="/about">Conócenos</a></li>
            <li><a href="/contact">Contáctanos</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="profile-info">
            <h1 th:text="'Hola, ' + ${perro.nombre} + '! Este es tu perfil:'"></h1>
            <p th:text="'Edad: ' + ${perro.edad}"></p>
            <p th:text="'Raza: ' + ${perro.raza}"></p>
            <p th:text="'Ubicación: ' + ${perro.ubicacion}"></p>
            <p th:text="'Tamaño: ' + ${perro.tamaño}"></p>
            <p th:text="'Tiene pedigree: ' + ${perro.tienePedigree}"></p>
            <p th:text="'Tiene entrenamiento: ' + ${perro.tieneEntrenamiento}"></p>
            <p th:text="'Ha tenido pareja: ' + ${perro.haTenidoPareja}"></p>
            <p th:text="'Peso: ' + ${perro.peso} + ' lb'"></p>
            <p th:text="'Sexo: ' + ${perro.sexo}"></p>
            <p th:text="'Tiene enfermedades: ' + ${perro.tieneEnfermedades}"></p>
            <p th:text="'Quiere quedarse con crias: ' + ${perro.quedarseCria}"></p>
            <p th:text="'Antecedentes: ' + ${perro.antecedentes}"></p>
        </div>
    </div>

    <div class="button-container">
        <a href="/recommended">Recomendado</a>
        <a href="/profile">Tu perfil</a>
        <a href="/search">Buscar</a>
        <a href="/chat">Chat</a>
        <a href="/match">Match</a>
    </div>
</body>
</html>
