<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="styles_register.css">
</head>
<body>
    <div class="container" th:if="${errorMessage}">
        <div style="color: red;">Error Message: <span th:text="${errorMessage}"></span></div>
    </div>

    <div class="container">

        <form th:action="@{/perros/registro}" method="post" th:object="${perro}">
            <h2>Registro de Perro</h2>
            <label for="nombre">Nombre del perro:</label>
            <input type="text" th:field="*{nombre}" id="nombre" required>

            <label for="raza">Raza:</label>
            <input type="text" th:field="*{raza}" id="raza" required>

            <label for="ubicacion">Ubicación:</label>
            <select th:field="*{ubicacion}" id="ubicacion" required>
                <option value="" disabled selected>Selecciona un departamento</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Baja Verapaz">Baja Verapaz</option>
                <option value="Alta Verapaz">Alta Verapaz</option>
                <option value="El Progreso">El Progreso</option>
                <option value="Izabal">Izabal</option>
                <option value="Zacapa">Zacapa</option>
                <option value="Chiquimula">Chiquimula</option>
                <option value="Santa Rosa">Santa Rosa</option>
                <option value="Jalapa">Jalapa</option>
                <option value="Jutiapa">Jutiapa</option>
                <option value="Sacatepéquez">Sacatepéquez</option>
                <option value="Chimaltenango">Chimaltenango</option>
                <option value="Escuintla">Escuintla</option>
                <option value="Sololá">Sololá</option>
                <option value="Totonicapán">Totonicapán</option>
                <option value="Quetzaltenango">Quetzaltenango</option>
                <option value="Suchitepéquez">Suchitepéquez</option>
                <option value="Retalhuleu">Retalhuleu</option>
                <option value="San Marcos">San Marcos</option>
                <option value="Huehuetenango">Huehuetenango</option>
                <option value="Quiché">Quiché</option>
                <option value="Baja Verapaz">Baja Verapaz</option>
                <option value="Alta Verapaz">Alta Verapaz</option>
                <option value="Petén">Petén</option>
                <option value="El Progreso">El Progreso</option>
                <option value="Izabal">Izabal</option>
                <option value="Zacapa">Zacapa</option>
                <option value="Chiquimula">Chiquimula</option>
                <option value="Santa Rosa">Santa Rosa</option>
                <option value="Jalapa">Jalapa</option>
                <option value="Jutiapa">Jutiapa</option>
            </select>

            <label for="edad">Edad:</label>
            <input type="text" th:field="*{edad}" id="edad" required>

            <label for="peso">Peso:</label>
            <input type="text" th:field="*{peso}" id="peso" required>

            <label for="tamaño">Tamaño:</label>
            <select th:field="*{tamaño}" id="tamaño" required>
                <option value="S">Pequeño</option>
                <option value="M">Mediano</option>
                <option value="L">Grande</option>
            </select>

            <label for="color">Color:</label>
            <input type="text" th:field="*{color}" id="color" required>

            <label for="haTenidoPareja">¿Ha tenido pareja?</label>
            <select th:field="*{haTenidoPareja}" id="haTenidoPareja" required>
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>

            <label for="quedarseCria">¿Desea quedarse alguna cría?</label>
            <select th:field="*{quedarseCria}" id="quedarseCria" required>
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>

            <label for="nombreDueno">Nombre del dueño:</label>
            <input type="text" th:field="*{nombreDueno}" id="nombreDueno" required>

            <label for="tienePedigree">¿Tiene pedigrí?</label>
            <select th:field="*{tienePedigree}" id="tienePedigree" required>
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>

            <label for="sexo">Sexo del perro:</label>
            <select th:field="*{sexo}" id="sexo" required>
                <option value="Hembra">Hembra</option>
                <option value="Macho">Macho</option>
            </select>

            <label for="tieneEntrenamiento">¿Tiene entrenamiento?</label>
            <select th:field="*{tieneEntrenamiento}" id="tieneEntrenamiento" required>
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>

            <label for="antecedentes">Antecedentes (enfermedades):</label>
            <textarea th:field="*{antecedentes}" id="antecedentes" rows="4"></textarea>

            <input type="submit" value="Registrar">
        </form>
    </div>
</body>
</html>
