<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurryMate</title>
    <link rel="stylesheet" href="styles_index.css">
</head>
<body>
    <div class="header">
        <a href="#furrymate">FurryMate</a>
        <a href="#conocenos">Conócenos</a>
        <a href="#contactanos">Contáctanos</a>
        <a href="#vision">Visión</a>
        <a href="#mision">Misión</a>
    </div>
    <div class="container">
        <div class="button-container">
            <a href="/login" class="button">Iniciar sesión</a>
            <a href="/signup" class="button">Sign Up</a>            
        </div>
        <div class="image-container">
            <img src="perritos inicio.png" alt="Perritos Inicio">
        </div>
    </div>
</body>
</html>
