<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurryMate</title>
    <link rel="stylesheet" href="styles_index.css">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <a href="/login"><img src="botonlogin.jfif" alt="Iniciar sesión"></a>
            <a href="/signup"><img src="botonsignup.jfif" alt="Sign Up"></a>            
        </div>
    </div>
</body>
</html>
