<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles_login.css">
</head>
<body>
<div class="container">
    <h2>Iniciar Sesión</h2>
    <form action="login.php" method="post">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Iniciar sesión">
    </form>
</div>
<script>
    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault(); 
        window.location.href = "/dog-register"; //Registro.html
    });
</script>
</body>
</html>
