<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles_sign_up.css">
</head>
<body>
<div class="container">
    <h2>Sign Up</h2>
    <form action="signup.php" method="post">
        <label for="username">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Registrarse">
    </form>
</div>
<script>
    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault(); 
        window.location.href = "Login.html";
    });
</script>
</body>
</html>
